/* General */

*{
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
    color: black;
}


/* Header */
header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 20vh;
    background-color: whitesmoke;  
    text-align: center;
    border-bottom: #993003 6px solid;
    justify-items: center;
    align-items: center;
    
}

#logo__container{
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#logo__text{
    justify-self: center;
    align-self: center;
}

.img__container{
    width: 120px;
    height: 120px;
    height: auto;
    max-height: 100%;
}

#logo__image{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

/* navbar */

#navbar{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
}
.navbar__list__option{
    display: inline;
    margin: 5px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.unordered__list{
    list-style: none;
    padding: 0;
}

/* Content */

#main__content__index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main__content__products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#across{
    width: 100%;
}

#big__header{
    text-align: center;
    border: #993003 1px solid;
}


/* Controls */

#controls__container{
    align-self: flex-start;
    margin: 200px 20px;
}

/* Cards */

#card__container{
    width: 70%;
    height: 80%;
    overflow: hidden;
}

.card-controls{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.btn-quantity-control{
    width: 15%;
}

.item-quantity{
    width: 20%;
}

.card{
    margin: 10px 0;
}


/* ads */

#ads__aside{
    position: absolute;
    z-index: 3;
    top: 16%;
    right: 0px;
    width: 10%;
    height: 64%;
    background-color: #f2f2f3;
    border: green 1px solid;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 12vh;
    background-color: whitesmoke;
    border-top: #993003 6px solid;
    justify-content: center;
}


#socials{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}



.socials-link{
    display: flex;
    align-items: center;
}


#instagram-ft-logo{
    width: 40px;
    height: 40px;
}

#dev__info{
    display: flex;
    justify-content: center;
    font-size: .5rem;
}

/* support button */

#cart__bubble{
    position: absolute;
    top: 1%;
    left: 80%;
    font-size: .7rem;
    z-index: 4;
}

#cart__btn{
    top: 5%;
    position:fixed;
    right: 5%;
}

#cart__icon{
    position:relative;
    top: 50%;
}

#contact__form{
    position: relative;
    top: 45%;
    left: 50%;
    font-size: .7rem;
    z-index: 4;
}

#google__map{
    position: relative;
    top: 0;
    left: 10%;
    font-size: .7rem;
    z-index: 4;
    display: inline-block;
    orientation: vertical;
}

.info__container{
    margin: 10px 20px;
    box-shadow: 4px 2px 4px 1px rgba(220, 0, 0, 0.1);
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    width: 50%;
}

.bussines__info__content
.shipping__info__content{
    margin: 6px;
}

.bussines__info__title
.shipping__info__title{
    margin: 6px;
    font-size: 2.2rem;
}

.bussines__info__description
.shipping__info__description{
    margin: 6px;
    font-size: 1.5rem;
}

/* media queries */

@media (max-width: 576px){
    #logo__container{
        justify-content: space-around;
    }
    #logo__image{
        width: 100px;
        height: 100px;
    }
    #cart__bubble{
        display: none;
    }
    #cart-btn-text{
        display: none;
    }
    #navbar{
        width: 50%;
    }
    #navbar ul{
        overflow: hidden;
    }
    #navbar ul li{
        font-size: larger;
    }
}